<div class="standard-section ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="standard-text">
                    <div class="section-title text-start">
                     
                        <h2 class="line-height">Experience the ease of connecting with skilled technicians right at your fingertips— <span class="field"> Field Connect</span> , where efficiency meets expertise.</h2>
                    </div>
          
                </div>
            </div>
            <div class="col-lg-6">
                <div class="standard-img">
                    <img src="assets/img/field.svg" alt="laptop">
                </div>
            </div>
        </div>
        <!-- <div class="standard-shape">
            <img src="assets/img/map-three.png" alt="shape">
        </div> -->
    </div>
</div>