<div id="services" class="service-style-two pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>What We Offer</h2>
            <p>While we can customize your plan to suit your needs, most clients schedule regular services</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <img src="assets/img/sass-landing/service/1.png" alt="icon">
                    <h3>Patios</h3>
                    <p>There’s no limit to how creative you can get when working with Twin Oaks, including custom paver stone designs.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <img src="assets/img/sass-landing/service/2.png" alt="icon">
                    <h3>Stone Steps</h3>
                    <p>Our custom walkway creations are perfect for adding style, safety and depth to your home, learn more about.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <img src="assets/img/sass-landing/service/3.png" alt="icon">
                    <h3>Outdoor Kitchen</h3>
                    <p>Our team of award winning designers can plan, design and implement custom stone retaining walls to add.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <img src="assets/img/sass-landing/service/4.png" alt="icon">
                    <h3>Client Managing</h3>
                    <p>When it comes after the noun, the ar djective usually doesn't get a hyphen. So we say an easy to remember.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <img src="assets/img/sass-landing/service/5.png" alt="icon">
                    <h3>Additional Services</h3>
                    <p>Looking to take your culinary experience under the stars? We’re renowned throughout 
                        <br>Rochester.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-item">
                    <img src="assets/img/sass-landing/service/6.png" alt="icon">
                    <h3>Patios</h3>
                    <p>Add new levels of ambiance to your patio experience with a custom outdoor fireplace design from Twin.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="service-shape">
        <img src="assets/img/map-four.png" alt="map shape">
        <img src="assets/img/sass-landing/shapes/3.png" alt="shape">
    </div>
</div>