<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <img src="assets/img/Assignix_logo-01.svg_white-01.svg" alt="logo">
                    </div>                  

                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-90">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#"><i class="flaticon-right"></i> Home</a></li>
                        <li><a href="#"><i class="flaticon-right"></i> Services</a></li>
                        <li><a href="#"><i class="flaticon-right"></i> Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-90">
                    <h3>Our Guidelines</h3>
                    <ul>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Terms</span></li>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Privacy policy</span></li>
                        <li><span (click)="onClick('home')"><i class="flaticon-right"></i> Cookie Policy</span></li>
                       
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-90">
                    <h3>Our Office</h3>
                    <ul>
                        <li><a href="#" target="_blank"><i class="flaticon-right"></i> Facebook</a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-right"></i> Twitter</a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-right"></i> Linkedin</a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-right"></i> Instagram</a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-right"></i> Pinterest</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-4 lh-1">
                    <img src="assets/img/visa.png" alt="visa card">
                    <img src="assets/img/american-express.png" alt="american-express">
                    <img src="assets/img/discover.png" alt="discover">
                    <img src="assets/img/master-card.png" alt="master card">
                </div>
                <div class="col-lg-6 col-md-8 lh-1">
                    <p>© Assignix is Proudly Owned by <a href="https://hibootstrap.com/" target="_blank">Mylas</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>