<div id="about" class="about-us-section pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-image text-center">
                    <img src="../../../assets/img/aboutus_2.svg" alt="about image">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title text-start">
                        <span>About Us</span>
                        <h2>Unlock On-Demand Expertise for Every Task</h2>
                    </div>
                
                    <div class="network">
                        Unlock a network of skilled technicians ready to tackle your on-site tasks efficiently. Click here to discover how Field Connect connects you with the expertise you need.
                    </div>
                    <div class="about-btn">
                        <a routerLink="/agency-landing-one">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-shape">
        <img src="assets/img/map-two.png" alt="about shape">
    </div>
</div>