<div class="container-fluid">
    <div class="row ">
        <div class="col-md-8 ">

            <div class="white bprofile">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <img src="../../../../assets/img/1.png" class="img-profile">
                        </div>
                    </div>
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="profile-title">David Bekam</div>
                                <div class="field-titel">Field Technician</div>
                                <div class="sub-title-lon">London, United Kingdom</div>
                            </div>
                            <div class="col-md-3">
                                <div class="t-right edit"><mat-icon>edit</mat-icon></div>
                            </div>

                        </div>
                        <div class="row profile_detils" >
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div  class="d-flex gap">
                                            <div><mat-icon >mail</mat-icon></div>
                                            <div>davidbekam.coolz mail.com</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex gap">
                                            <div><mat-icon >call</mat-icon></div>
                                            <div>+012 345 689</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div  class="d-flex gap">
                                            <div><mat-icon>work</mat-icon></div>
                                            <div>Highspeed Studios</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="white bprofile min-h">
                <div class="header-title">Preferences</div>

                <div class="preferences">
                    <div class="preicons"><mat-icon class="iconspre" >car_repair</mat-icon> <div>Distance can travel</div> <div>250 km</div>   </div>
                    <div class="preicons"><mat-icon class="iconspre">update</mat-icon> <div>Working hours</div> <div>250 km</div>   </div>
                    <div class="preicons"><mat-icon class="iconspre">monetization_on</mat-icon> <div>Price range </div> <div>250 km</div>   </div>
                </div>
           </div>
        </div>

    </div>
    <div class="row spaceM">
        <div class="col-md-3">
            <div class="white bprofile min-h">
                <div class="header-title">Skills</div>

                <div class="Skills">
                <ul>
                    <li>UI/UX Design</li>
                    <li>UI/UX Design</li>
                    <li>UI/UX Design</li>
                    <li>UI/UX Design</li>
                    <li>UI/UX Design</li>
                </ul>
                </div>
           </div>
        </div>
        <div class="col-md-9">
            <div class="white bprofile min-h">
                <section class="aboutus">
                <div class="header-title">About</div>
                    <div class="infoabout">
                        An exceptional computer programmer with a passion for creating innovative solutions to complex problems. Expertise in programming languages such as Python, Java, and C++ is matched by his ability to think creatively and outside the box. Attention to detail and love of debugging makes him an invaluable member of any team, and  ability to work efficiently under pressure has made him a sought-after asset in the industry.
                    </div>
            </section>

            <section>
                <div class="header-title">About</div>
                <div class="infoabout">
                    An exceptional computer programmer with a passion for creating innovative solutions to complex problems. Expertise in programming languages such as Python, Java, and C++ is matched by his ability to think creatively and outside the box. Attention to detail and love of debugging makes him an invaluable member of any team, and  ability to work efficiently under pressure has made him a sought-after asset in the industry.
                </div>
            </section>

           </div>
        </div>
    </div>
</div>