<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <div class="white bprofile">
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <img src="../../../../assets/img/1.png" class="img-profile">
                        </div>
                    </div>
                    <div class="col-md-9">

                        <div class="row">
                            <div class="col-md-9">
                                <div class="profile-title">David Bekam</div>
                                <div class="field-titel">Field Technician</div>
                                <div class="sub-title-lon">London, United Kingdom</div>
                            </div>
                            <div class="col-md-3">
                                <div class="t-right edit"><mat-icon>edit</mat-icon></div>
                            </div>

                        </div>
                        <div class="row profile_detils" >
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div  class="d-flex gap">
                                            <div><mat-icon >mail</mat-icon></div>
                                            <div>davidbekam.coolz mail.com</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="d-flex gap">
                                            <div><mat-icon >call</mat-icon></div>
                                            <div>+012 345 689</div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div  class="d-flex gap">
                                            <div><mat-icon>work</mat-icon></div>
                                            <div>Highspeed Studios</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            2
        </div>

    </div>

</div>